<div class="container">
  <div *ngIf=" noProduct == false " class="row">
    <div class="col-sm-12 col-lg-6">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/bolo.jpg" class="d-block w-100" alt="assets/images/bolo.jpg">
          </div>
          <div class="carousel-item">
            <img src="assets/images/bolo-fanta-uva.jpg" class="d-block w-100" alt="assets/images/bolo.jpg">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <h1> {{ product.name }} <small class="text-danger">Oferta</small></h1>
      <div class="card">
        <div class="card-body row">
          <div class="col-12 col-lg-6">
            <h4><small class="text-danger">{{ product.value | monetary }}</small></h4>
          </div>
          <div class="col-12 col-lg-6 text-right">
            <button *ngIf=" inCart == false " (click)="addToCard()" type="button" class="btn btn-primary">Adicionar Ao
              carrinho</button>
            <button *ngIf=" inCart == true  " (click)="removeFromCart()" type="button"
              class="btn btn-outline-danger">Remover do carrinho</button>
          </div>
          <div class="col-12">
            <p class="display-6">{{ product.briefDescription }}</p>
            <hr>
            <h4>Descrição</h4>
            <p>{{ product.DetailedDescription }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <hr>
      <h1>Outros produtos</h1>
      <app-slide-products></app-slide-products>
    </div>
  </div>

  <div *ngIf=" noProduct == true " class="row">

    <div class="cloudPane col-12">
      <div class="stars">
        <div class="star" id="star1"></div>
        <div class="star"></div>
        <div class="star" id="star2"></div>
        <div class="star"></div>
        <div class="star" id="star3"></div>
        <div class="star"></div>
        <div class="star" id="star4"></div>
        <div class="star"></div>
        <div class="star" id="star5"></div>
        <div class="star"></div>
        <div class="star" id="star6"></div>
        <div class="star"></div>
        <div class="star" id="star7"></div>
        <div class="star"></div>
        <div class="star" id="star8"></div>
        <div class="star"></div>
        <div class="star" id="star9"></div>
        <div class="star"></div>
        <div class="star" id="star10"></div>
        <div class="star"></div>
        <div class="star" id="star11"></div>
        <div class="star"></div>
      </div>

      <div class="bigCloud" id="cloud1">
        <div class="largeCircle" id="circ1">

          <div class="largeCircle" id="circ1shadow"></div>
        </div>
        <div class="middleCircle" id="circ2">
          <div class="middleCircle" id="circ2shadow"></div>
        </div>
        <div class="middleCircle" id="circ3">
          <div class="middleCircle" id="circ3shadow"></div>
        </div>
        <div class="smallCircle" id="circ4"></div>
        <div class="smallCircle" id="circ5">
          <div class="smallCircle" id="circ5shadow"></div>
        </div>
        <div class="smallCircle" id="circ6">
          <div class="smallCircle" id="circ6shadow"></div>
        </div>
      </div>
      <div class="bigCloud" id="cloud2">
        <div class="largeCircle" id="circ1">
          <div class="largeCircle" id="circ1shadow"></div>
        </div>
        <div class="middleCircle" id="circ2">
          <div class="middleCircle" id="circ2shadow"></div>
        </div>
        <div class="middleCircle" id="circ3">
          <div class="middleCircle" id="circ3shadow"></div>
        </div>
        <div class="smallCircle" id="circ4"></div>
        <div class="smallCircle" id="circ5">
          <div class="smallCircle" id="circ5shadow"></div>
        </div>
        <div class="smallCircle" id="circ6">
          <div class="smallCircle" id="circ6shadow"></div>
        </div>
      </div>

      <div class="bigCloud" id="cloud3">
        <div class="largeCircle" id="circ1">
          <div class="largeCircle" id="circ1shadow"></div>
        </div>
        <div class="middleCircle" id="circ2">
          <div class="middleCircle" id="circ2shadow"></div>
        </div>
        <div class="middleCircle" id="circ3">
          <div class="middleCircle" id="circ3shadow"></div>
        </div>
        <div class="smallCircle" id="circ4"></div>
        <div class="smallCircle" id="circ5">
          <div class="smallCircle" id="circ5shadow"></div>
        </div>
        <div class="smallCircle" id="circ6">
          <div class="smallCircle" id="circ6shadow"></div>
        </div>
      </div>

      <div class="bigCloud" id="cloud4">
        <div class="largeCircle" id="circ1">
          <div class="largeCircle" id="circ1shadow"></div>
        </div>
        <div class="middleCircle" id="circ2">
          <div class="middleCircle" id="circ2shadow"></div>
        </div>
        <div class="middleCircle" id="circ3">
          <div class="middleCircle" id="circ3shadow"></div>
        </div>
        <div class="smallCircle" id="circ4"></div>
        <div class="smallCircle" id="circ5">
          <div class="smallCircle" id="circ5shadow"></div>
        </div>
        <div class="smallCircle" id="circ6">
          <div class="smallCircle" id="circ6shadow"></div>
        </div>
      </div>

      <div class="bigCloud" id="cloud5">
        <div class="largeCircle" id="circ1">
          <div class="largeCircle" id="circ1shadow"></div>
        </div>
        <div class="middleCircle" id="circ2">
          <div class="middleCircle" id="circ2shadow"></div>
        </div>
        <div class="middleCircle" id="circ3">
          <div class="middleCircle" id="circ3shadow"></div>
        </div>
        <div class="smallCircle" id="circ4"></div>
        <div class="smallCircle" id="circ5">
          <div class="smallCircle" id="circ5shadow"></div>
        </div>
        <div class="smallCircle" id="circ6">
          <div class="smallCircle" id="circ6shadow"></div>
        </div>
      </div>

      <div class="bigCloud" id="cloud6">
        <div class="largeCircle" id="circ1">
          <div class="largeCircle" id="circ1shadow"></div>
        </div>
        <div class="middleCircle" id="circ2">
          <div class="middleCircle" id="circ2shadow"></div>
        </div>
        <div class="middleCircle" id="circ3">
          <div class="middleCircle" id="circ3shadow"></div>
        </div>
        <div class="smallCircle" id="circ4"></div>
        <div class="smallCircle" id="circ5">
          <div class="smallCircle" id="circ5shadow"></div>
        </div>
        <div class="smallCircle" id="circ6">
          <div class="smallCircle" id="circ6shadow"></div>
        </div>
      </div>

      <div class="bigCloud" id="cloud7">
        <div class="largeCircle" id="circ1">
          <div class="largeCircle" id="circ1shadow"></div>
        </div>
        <div class="middleCircle" id="circ2">
          <div class="middleCircle" id="circ2shadow"></div>
        </div>
        <div class="middleCircle" id="circ3">
          <div class="middleCircle" id="circ3shadow"></div>
        </div>
        <div class="smallCircle" id="circ4"></div>
        <div class="smallCircle" id="circ5">
          <div class="smallCircle" id="circ5shadow"></div>
        </div>
        <div class="smallCircle" id="circ6">
          <div class="smallCircle" id="circ6shadow"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 offset-sm-0 offset-lg-3">
      <h1>Produto não encontrado... :^(</h1>
    </div>
  </div>
</div>