<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="inicio">Cloud Cookies</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="inicio">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- ======================================================================== -->

      <li class="nav-item dropdown" *ngIf=" loginService.isAuth == true ">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pessoas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/listar/pessoa">listar</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf=" loginService.isAuth == true ">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="listar/produto">listar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="detalhe/produto">Detalhes</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf=" loginService.isAuth == true ">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pedidos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="listar/pedidos">listar</a>
        </div>
      </li>

      <!-- ======================================================================== -->


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-secondary my-2 my-sm-0" routerLink="carrinho">Carrinho</button>
      <button class="btn btn-outline-secondary my-2 my-sm-0" *ngIf=" loginService.isAuth == true "
        (click)="logout()">Sair</button>
      <button class="btn btn-outline-success my-2 my-sm-0" *ngIf=" loginService.isAuth == false "
        routerLink="login">Entrar</button>
    </form>
  </div>

</nav>